html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: #FaFaFa;
}
main {
    max-width: 950px;
    margin: auto;
    font-family:museomoderno;
    padding-top: 100px;
    padding-bottom: 100px
}
#resumo {
    color: #5e5e5e;                 
    font-size: 20px;
    padding-bottom: 70px;

}
#bannermobile {
    display: none;
}
#professores {
    color:#0086be;
    margin-top: 130px;
    font-size:40px;
    padding-bottom: 50px;
}
#professores::after {
    content: '';
    width: 300px;
    height: 3px;
    background-color: currentColor;
    display: block;
}
#sub {
    background-color: #0086be;
    border: none;
    color: white;
    padding: 12px 54px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    border-radius: 18px;
    font-weight: 900;
    display: block;
    width: 100%;
    transition: 0.3s;
}
#sub:hover {
    background: #079ddb;
}
#investimento {
    color:#0086be;
    padding-bottom: 8px;
}
#payment {
    color:#565656;
    font-family: Questrial;
    font-size: 20px;
}
#paymentforms {
    color:#525252;
}
#ltd {
    border: 1px solid;
    background-color: #FaFaFa;
    padding: 25px 40px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    border-color: #000000;
    color:#5e5e5e;
    text-align: center;
    margin-bottom: 50px;
    transition: 0,3s;
}
#ltd:hover {
    color: white;
    background-color:#16223c;
}
#list div {
    margin-top: 10px;
    font-size: 20px;
} 
.boxwithtext {
    padding-top: 150px;
    padding-bottom: 150px;
} 
.img-with-text {
    text-align: justify;
    width: 100%;
    height: 55.7%;
}
.container {
    display: flex;
    justify-content: space-around;
}
.icons {
    padding-right: 20px;
}
.conteudo{
    display: table;
}
.imagem{
    display:table-cell;
    float: left;
    max-width:100px;
    max-height:150px;
    width: auto;
    height: auto;
}
.texto{
    display: table-cell;
    float: left;
}
.img{
    max-width: 80%;
    width: auto;
    height: auto;
}
.colors {
    color:#16223c;
}
.colors2 {
    color:#079ddb;
    font-size: 35px;
}
.colors3 {
    color:#5e5e5e;
    font-size: 25px;
    padding-top: 30px;
}
.text-justify-normal {
    text-align: justify !important;
}
.margin-top {
    margin-top: 55px;
}
.text-mobile {
    display: none;
}
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexbox2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.avatar {
    width: 28%;
    height: 100%;
}
.avatar-text {
    padding-top: 80px;
    color: #424242;
}
.avatar-description {
    font-size: 20px;
    color: #424242;
    text-align: justify;
}
.avatar-textpadding {
    padding-left: 4%;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Questrial;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.butao{
    border: 0;
    width:85px;
    color: white;
    background-color:#0086be;
    transition: 0.3s;
}
.butao:hover{
    background: #079ddb;
    transition: 0.3s;
}
.mobilebox {
    font-style: oblique;
    font-size: 20px;
    margin: 5%;
    color: #0086be;
    text-align: center;
    display: none;
}
.footer {
    background-image: url(footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 100px 0 100px 0;
}

/*Mobile Version*/
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-justify {
        padding-bottom: 0px !important;
        margin: 5%;
    }

    .text-justify:nth-child(1) {
        display: none;
    }

    .text-mobile {
        display: inline;
    }
    .img-with-text {
       width: 89%;
       height: 90%;
       padding-top: 5px;
    }
    .curso {
       padding-left: 6%;
    }
    .caixa {
        margin:5%;
    }
    .pagamento {
        width: 60%;
    }
    .flexbox {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .avatar {
        display: block;
        margin: 0 auto;
        width: 55%;
        height: auto;
        padding-top: 30px;
    }
    .avatar-text {
        margin: 30px;
        justify-content: unset;
    }
    .avatar-description {
        margin: 30px;
        justify-content: unset;
    }
    .boxwithtext {
        display: none;
    }
    .mobilebox {
        font-style: oblique;
        font-size: 20px;
        margin: 5%;
        color: #0086be;
        text-align: center;
        display: inline;
    }
    .list-mobile {
        margin: 5%;
    }
    #resumo {
        margin: 5%;
    }
    #professores {
        padding-top: 20px;
        text-align: center;
        margin: 5%;
    }
    #professores::after {
        width: 0px;
        height: 0px;
        background-color: currentColor;
        display: none;
    }
    .colormobile {
        text-align: center;
        margin: 2%;
    } 
    .colors2 {
        text-align: center;
        margin: 5%;
    }
    .colors3 {
        margin: 5%;
    }
    .avatar-textpadding {
        padding-left: 0%;
    }
    #paymentformsmobile {
        margin: 5%;
    }
    #ltd {
        text-align: center;
        margin: 5%;
    }
    #sub {
        background-color: #0086be;
        border: none;
        color: white;
        padding: 12px 54px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 22px;
        cursor: pointer;
        border-radius: 18px;
        font-weight: 900;
        display: block;
        width: 80%;
        transition: 0.3s;
    }
    #banner {
        display: none;
    }
    #bannermobile {
        display: block;
    }
}








